<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero is-info">
        <div class="hero-body">
        <div class="container">
            <h1 class="title">
                About Us
            </h1>
            <h2 class="subtitle">
                
            </h2>
        </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <p class="about-text">An online diary app where you can write whatever you wish to and it gets saved on the cloud.</p>

            
        </div>
    </section>

    
    
    {% endblock %}
</body>
</html>
