<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new byte</title>
    <script src="https://cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <form method="POST">

    <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        What's on your mind?
                    </h1>
                    <input type="text" name="title" class="input is-medium title-input" value="{{entry.title}}" required id="id_title" placeholder="Enter a title">
                </div>
            </div>
        </section>

    <section class="section">
        <div class="container">

           
            {% csrf_token %}
            
            <div class="field">
                <div class="control">
                    <!-- <input type="text" name="title" maxlength="50" class="input is-medium mobile-input" value="{{entry.title}}" required id="id_title" placeholder="Enter a title"> -->
                    <!-- <h2 class="subtitle">Write here</h2> -->
                    
                    <textarea name="text" id="id_text"></textarea>

                </div>
            </div>

          
            <div class="buttons is-right">
                    
                <a class="button" href="{% url 'home' %}"><img src="{% static '/images/cancel.svg' %}" alt="Add new byte" width=15px height=15px style="margin-right: 10px;">Cancel</a>
                
                <button class="button is-success is-outlined" type="submit" name="drafts" id="id_drafts"><img src="{% static '/images/file.svg' %}" alt="Save drafts" width=12px height=12px style="margin-right: 10px;">Save as draft</button>

                <button class="button is-success is-outlined" type="submit" name="save"><img src="{% static '/images/save.svg' %}" alt="Add new byte" width=15px height=15px style="margin-right: 10px;">Save</button>
                
            </div>

            </form>

            <script>
                CKEDITOR.replace('id_text', {
                    height: 450
                });
            </script>

        </div>
    </section>

    {% endblock %}

</body>
</html>
