<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero is-link">
        <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello,
            </h1>
            <h2 class="subtitle">
              {% if user.is_authenticated %}
                {% if user.first_name %}
                    {{ user.first_name }}!
                {% elif user.username %}
                    {{ user.username}}!
                {% endif %}
              {% endif %}

              {% if not user.is_authenticated %}
                human!
              {% endif %}
            </h2>
        </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Report an issue or send feedback</h1>

            <br>

            <form method="POST">
              {% csrf_token %}
                
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input name="sender" class="input is-medium edit-title" type="email" placeholder="Enter email">
                      <span class="icon is-small is-left">
                        <img src="{% static '/images/envelope.svg' %}" alt="Add new byte" width=15px height=15px style="margin-left: 5px; margin-right: 5px;">
                      </span>
                  </div>
                  
                  <br>

                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea name="message" class="textarea is-medium" placeholder="Your message here" style="border-radius: 0px;"></textarea>
                    </div>
                  </div>
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" class="button is-success is-outlined">Send</button>
                    </div>
                  </div>
            </form>

        </div>
    </section>

    {% endblock %}
</body>
</html>
