<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm delete</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <form method="GET"></form>

    <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Are you sure?
                    </h1>
                </div>
            </div>
        </section>


        <section class="section">
                       
            <div class="container is-widescreen has-text-centered">
                
                <a class="button is-danger is-outlined" href="/delete/{{entry.id}}">Yes, delete</a>
                &nbsp;
                <a class="button is-success is-outlined" href="{% url 'home' %}">No</a>
                </div>
        </section>

    {% endblock %}
</body>
</html>
