<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit a entry</title>
    <!-- <script src="https://cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.12.1/ckeditor.js"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/thecoducer/daily-bytes/ckeditor/ckeditor.js"></script>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Editing
                    </h1>
            <h2 class="subtitle">
                {{ entry.title }}
            </h2>
                </div>
            </div>
    </section>

    <section class="section">
    <div class="container">

        <form method="POST">
        {% csrf_token %}
                    
            <div class="field">
                <div class="control">
                    <input type="text" name="title" maxlength="50" class="input is-medium edit-title" value="{{entry.title}}" required id="id_title">

                    <!-- <textarea name="text" cols="40" rows="10" class="textarea" required id="id_text">{{ entry.text | safe }}</textarea> -->
                    
                    <textarea name="text" id="id_text"> {{ entry.text }} </textarea>

                </div>
            </div>

        <div class="buttons is-right">
           
            <a class="button" onclick="goback()"><img src="{% static '/images/cancel.svg' %}" alt="Add new byte" width=15px height=15px style="margin-right: 10px;">Cancel</a>

            <button class="button is-success is-outlined" type="submit" onclick="CheckCKE()"><img src="{% static '/images/save.svg' %}" alt="Save" width=15px height=15px style="margin-right: 10px;">Update</button>
            
        </div>
        </form>

        <script>
        CKEDITOR.replace('id_text', {
            height: 450,
            customConfig: 'https://cdn.jsdelivr.net/gh/thecoducer/daily-bytes/ckeditor/config.js'
        });

        function CheckCKE() 
        {
            if ( CKEDITOR.instances.id_text.getData() == '' )
                alert( 'Entry is blank! Kindly write something.' );
        }
        </script>

        </div>
    </section>
    {% endblock %}
</body>
</html>
