<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editing an entry</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="section">
        <div class="container">

            <form method="POST" action="/edit/{{entry.id}}">
            {% csrf_token %}
                        
                <div class="field">
                    <div class="control">
                        <input type="text" name="title" maxlength="50" class="input is-medium" value={{entry.title}} required id="id_title">
                        <textarea name="text" cols="40" rows="10" class="textarea" value={{entry.text}} required id="id_text"></textarea>
                    </div>
                </div>

            <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <a class="button" href="{% url 'home' %}"><img src="{% static '/images/cancel.svg' %}" alt="Add new byte" width=15px height=15px style="margin-right: 10px;">Discard</a>
                    </div>

                <div class="control">
                    <button class="button" type="submit"><img src="{% static '/images/save.svg' %}" alt="Save" width=15px height=15px style="margin-right: 10px;">Update</button>
                </div>
            </div>

            </form>

        </div>
    </section>
    {% endblock %}
</body>
</html>
