<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sign in - Daily Bytes</title>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Franklin|Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
{% load static %}
<link rel="stylesheet" href="{% static '/css/auth.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147095017-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-147095017-1');
    </script>
</head>
<body>
<div class="signin-form">

	<form  method="POST">
		{% csrf_token %}

		<h2>Daily Bytes</h2>
        <div class="text-center medium" style="margin-bottom: 14px; margin-top: 5px;">Submit your email address and we’ll send you a link to reset your password.</div>
        <div class="form-group">
        	<input type="email" class="form-control input-lg" name="email" placeholder="Enter email" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Submit</button>
        </div>
		<div class="text-center medium" style="margin-top: 6px;">Back to</div>
        <div class="text-center medium" style="margin-top: 4px;"><a href="/signin/">Sign in</a> | <a href="/signin/">Sign up</a></div>	

    </form>
    
</div>
</body>
</html>
