<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Bytes</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero header-image is-link is-fullheight" style="background-color: #f5f5f5;">
        <div class="hero-body">
            <div class="container">
                <h1 class="get-started-title">
                    Write your hearts out
                </h1>
                <h2 class="get-started-subtitle">
                    byte by byte.
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="column has-text-centered" style="margin-bottom: 70px;">
                {% if not user.is_authenticated %}
                <a class="button is-success has-text-centered is-medium" href="/signin/">Get started</a>
                {% endif %}

                {% if user.is_authenticated %}
                <a class="button is-success has-text-centered is-medium" href="{% url 'home' %}">Read your entries</a>
                {% endif %}
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><img src="{% static '/images/pen.svg' %}" alt="Add new byte" width=40px
                                height=40px></p>
                        <div class="content" style="font-size: 20px;">
                            <p>Add styles and colors to your text with the advanced text editor
                            </p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><img src="{% static '/images/cloud.svg' %}" alt="Add new byte" width=40px
                                height=40px></p>

                        <div class="content" style="font-size: 20px;">
                            <p>Your data is safe and secure in the cloud.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box has-text-centered">
                        <p class="title"><img src="{% static '/images/lock.svg' %}" alt="Add new byte" width=40px
                                height=40px></p>
                        <div class="content" style="font-size: 20px;">
                            <p>Your stories are yours and yours alone. We'll never share your data.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </section>
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147095017-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147095017-1');
    </script>

</body>

</html>