<!-- <section class="hero is-info is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Daily Bytes
            </h1>
    <h2 class="subtitle">
        Write your heart out.
    </h2>
        </div>
    </div>
</section> -->

<section class="hero is-info">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              
              <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-active" href="{% url 'home' %}">
                    Home
                  </a>
                  <a class="navbar-item" href="about/">
                    About
                  </a>
                  <!-- <a class="navbar-item">
                    Documentation
                  </a>
                  <span class="navbar-item">
                    <a class="button is-primary is-inverted">
                      <span class="icon">
                        <i class="fab fa-github"></i>
                      </span>
                      <span>Download</span>
                    </a>
                  </span> -->
                </div>
              </div>
            </div>
          </nav>
        </div>
      
        <!-- Hero content: is at left -->
        <div class="hero-body">
          <div class="container ">
            <h1 class="title">
                    <a href="{% url 'home' %}">Daily Bytes</a>
                </h1>
            <h2 class="subtitle">
                    Write your heart out.
            </h2>
          </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <!-- <div class="hero-foot">
            <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                <li class="is-active"><a href="{% url 'add' %}">Overview</a></li>
                <li><a>Modifiers</a></li>
                <li><a>Grid</a></li>
                <li><a>Elements</a></li>
                <li><a>Components</a></li>
                <li><a>Layout</a></li>
                </ul>
            </div>
            </nav>
      </div> -->

      </section>