<!-- <section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Daily Bytes
            </h1>
    <h2 class="subtitle">
        Write your heart out.
    </h2>
        </div>
    </div>
</section> -->

{% load static %}

<div id="app">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        <h1 class="logo">Daily Bytes</h1>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="toggleBurger()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'home' %}">
            Home
        </a>
  
        <a class="navbar-item" href="/about/">
            About
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/thecoducer/daily-bytes">
              Fork this on GitHub
            </a>
            <a class="navbar-item" href="/contact/">
              Contact
            </a>
            
          </div> 
        </div>
      </div>
  
      <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                  <img src="{% static '/images/user.svg' %}" alt="User" width=18px height=18px style="margin-right: 0px;">
              </a>
      
              <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="#">
                  My Profile
                </a>
                <a class="navbar-item" href="#">
                  Drafts
                </a>
                <a class="navbar-item" href="#">
                  Trash  
                </a>
                <a class="navbar-item" href="#">
                  Logout  
                </a>
                
              </div> 
            </div>
      </div>
    </div>
  </nav>

  <!-- <section class="hero is-info is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Relax and
                </h1>
        <h2 class="subtitle">
            write your heart out.
        </h2>
            </div>
        </div>
    </section> -->

 </div>