<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Bytes</title>

    <style>
        /* a.delete-a:link  {
            background-color: yellow;
        } */
        a.delete-a:hover {
            background-color: rgb(255, 94, 94);
        }

        a.edit-a:hover {
            background-color: rgb(100, 167, 255);
        }

        .search {
            background-image: url("/static/images/search.svg");
            background-repeat: no-repeat;
            background-size: 15px 15px;
            background-position: 95% center;
        }
    </style>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero header-image is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Write your hearts out
                </h1>
                <h2 class="subtitle">
                    byte by byte.
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="container my-top-bar">
                <div class="columns notification">

                    <!-- <div class="column is-6"> -->
                    <div class="column">
                        <p class="subtitle is-5 has-text-centered">
                            {% if count_entries < 1 %}
                            You don't have any entries
                            {% else %}
                            <strong>{{ count_entries }}</strong> entries
                            {% endif %}
                        </p>
                    </div>

                    <!-- <div class="column is-6 is-narrow">
                        <div class="field has-addons">
                            <input class="input search" type="text" placeholder="keyword" style="padding-right: 40px;">
                        </div>
                    </div> -->
                </div>
            </div>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a class="button is-link is-outlined" href="{% url 'add' %}"><img
                                src="{% static '/images/pen.svg' %}" alt="Add new byte" width=15px height=15px
                                style="margin-right: 10px;">New entry</a>
                    </div>
                </div>
            </article>


            <div class="columns is-multiline" style="margin-top: 30px;">
                {% for entry in entries %}

                <div class="column is-one-third">

                    <div class="card">
                        <a class="a-home" href="/entry/{{entry.id}}">
                            <div class="card-content readmore-div">
                                <p class="title" style="font-size: 25px;">
                                    {{entry.title}}
                                </p>
                                <p class="subtitle" style="font-size: 18px;">
                                    {{entry.date_posted}}
                                </p>
                            </div>
                        </a>
                        <footer class="card-footer">
                            <a href="/edit/{{entry.id}}" class="card-footer-item edit-a">
                                <p class="card-footer-item">
                                    <span>
                                        <img src="{% static '/images/edit.svg' %}" alt="Edit" width=15px height=15px>
                                    </span>
                                </p>
                            </a>
                            <a href="/confirm-delete/{{entry.id}}" class="card-footer-item delete-a">
                                <p class="card-footer-item">
                                    <span>
                                        <img src="{% static '/images/delete.svg' %}" alt="Delete" width=15px height=15px
                                            color: red;>
                                    </span>
                                </p>
                            </a>
                        </footer>
                    </div>

                </div>


                {% endfor %}
            </div>



            <div class="has-text-centered page-list">

                {% if is_paginated %}

                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page=1">First</a>
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="pagination-link is-current" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}

            </div>
        </div>

    </section>
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147095017-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147095017-1');
    </script>

</body>

</html>