<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Bytes</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero header-image is-link" style="background-color: #3273dc;">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Write your hearts out
                </h1>
                <h2 class="subtitle">
                    byte by byte.
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="container my-top-bar">
                <div class="columns notification">
                    <div class="column">
                        <p class="subtitle is-5 has-text-centered">
                            {% if count_entries < 1 %}
                            You don't have any entries
                            {% else %}
                            <strong>{{ count_entries }}</strong> entries
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a class="button is-link is-outlined" href="{% url 'add' %}"><img
                                src="{% static '/images/pen.svg' %}" alt="Add new byte" width=15px height=15px
                                style="margin-right: 10px;">New entry</a>
                    </div>
                </div>
            </article>


            <div class="columns is-multiline" style="margin-top: 30px;">
                {% for entry in entries %}
                <a class="a-home" href="/entry/{{entry.id}}">
                    <div class="column is-one-third">

                        <div class="card readmore-div">
                            <header class="card-header">
                                <p class="card-header-title">
                                    {{entry.title}}
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <a class="a-home" href="/entry/{{entry.id}}">
                                <div class="card-content">
                                    <div class="content">
                                        <p>{{ entry.text | truncatechars:200 | safe}}</p>
                                    </div>
                                </div>
                            </a>
                            <footer class="card-footer">
                                <a href="/edit/{{entry.id}}" class="card-footer-item"><img
                                        src="{% static '/images/edit.svg' %}" alt="Edit" width=15px height=15px></a>
                                <a href="/confirm-delete/{{entry.id}}" class="card-footer-item"><img
                                        src="{% static '/images/delete.svg' %}" alt="Delete" width=15px height=15px
                                        color: red;></a>
                            </footer>
                        </div>

                    </div>
                </a>
                {% endfor %}
            </div>


            <div class="has-text-centered page-list">

                {% if is_paginated %}

                {% if page_obj.has_previous %}
                <a class="pagination-previous" href="?page=1">First</a>
                <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="pagination-link is-current" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}

            </div>
        </div>

    </section>
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147095017-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147095017-1');
    </script>

</body>

</html>