<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Bytes</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a class="button" href="{% url 'add' %}"><img src="{% static '/images/pen.svg' %}" alt="Add new byte" width=15px height=15px style="margin-right: 10px;">New</a>
                    </div>
                </div>
            </article>

            {% for entry in entries %}

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ entry.date_posted }}</strong>
                            <br> {{ entry.text }}
                        </p>
                    </div>
                </div>
            </article>

            {% endfor %}

        </div>

    </section>
    {% endblock %}
</body>

</html>
