<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Bytes</title>
</head>

<body>
    {% extends "./base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero is-info">
        <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Write your hearts out
            </h1>
            <h2 class="subtitle">
                byte by byte.
            </h2>
        </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

                <div class="container my-top-bar">
                <div class="columns notification">
                    <div class="column is-two-thirds">
                        <p class="subtitle is-5">
                            <strong>{{ count_entries }}</strong> posts
                        </p>
                    </div>
                    <!-- <div class="column">a</div>
                    <div class="column">s</div> -->
                    <div class="column">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="keyword">
                        </p>
                        <p class="control">
                            <button class="button">
                            Search
                            </button>
                        </p>
                        </div>
                        </div>
                    </div>
                    </div>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <a class="button is-link is-outlined" href="{% url 'add' %}"><img src="{% static '/images/pen.svg' %}" alt="Add new byte" width=15px height=15px style="margin-right: 10px;">New entry</a>
                </div>
            </div>
        </article>
            
            {% for entry in entries %}

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="entry-title">{{ entry.title }}</strong> | <i>{{ entry.date_posted }}</i>
                        <br> {{ entry.text }}
                    </p>
                </div>
            </div>
            <div class="media-right">
                    <a class="button" href="/edit/{{entry.id}}"><img src="{% static '/images/edit.svg' %}" alt="Edit" width=15px height=15px style="margin-right: 10px;">Edit</a>

                    <a class="button is-danger is-outlined" href="/delete/{{entry.id}}"><img src="{% static '/images/delete.svg' %}" alt="Delete" width=15px height=15px style="margin-right: 10px; color: red;">Delete</a>
            </div>
        </article>

        {% endfor %}

    </div>

    </section>
    {% endblock %}
</body>
</html>