<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% extends "./base.html" %}
    {% block title %} {{ entry.title }} {% endblock %}
</head>

<body>
    
    {% block content %}
    {% load static %}

    <form method="GET"></form>

    <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{ entry.title }}
                    </h1>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <p class="readmore-page">{{ entry.text | safe }}</p>
                <!-- you need to add that safe tag to render RichText -->
                <hr>
            </div>
            
            <div class="div-fix">
            <div class="container is-widescreen has-text-centered">
                <a class="button is-small is-danger is-outlined" href="/confirmdelete/{{entry.id}}"><img src="{% static '/images/delete.svg' %}" alt="Delete" width=15px height=15px style="margin-right: 3px;">Delete</a>

                <a class="button is-small is-info is-outlined" href="/edit/{{entry.id}}"><img src="{% static '/images/edit.svg' %}" alt="Edit" width=15px height=15px style="margin-right: 2px;">Edit</a>

                <a class="button is-small is-info is-outlined" href="{% url 'home' %}"><img src="{% static '/images/close.svg' %}" alt="close" width=15px height=15px style="margin-right: 10px;">Close</a>
            </div>
            </div>
        </section>
    
    {% endblock %}
    
</body>
</html>
