<!DOCTYPE html>
{% extends "./base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} {{ entry.title }} {% endblock %}
</head>

<body>
    
    {% block content %}
    {% load static %}

    <form method="GET" action="/entry/{{entry.id}}"></form>

    <section class="hero is-info is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{ entry.title }}
                    </h1>
                </div>
            </div>
        </section>

        <section class="section">
                <div class="container">
                    <p class="read-more">{{ entry.text }}</p>
                </div>
        </section>
    
    {% endblock %}

    <script>
        document.title = {{ entry.title }};
    </script>
</body>
</html>
