body {
    color: #434343;
    background: #dfe7e9;
    font-family: 'Lato', sans-serif;
}
h2{
font-family: 'Abril Fatface', cursive;
font-size: 1.5em;
letter-spacing: 2px;
}
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}
.form-control:focus {
    border-color: #3f73dc;
}
.form-control, .btn {
    border-radius: 50px;
    outline: none !important;
}
.signin-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
.signin-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}
.signin-form a {
    color: #3f73dc;
}
.signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}
.signin-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}
.signin-form .form-group {
    margin-bottom: 20px;
}
.signin-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.signin-form .small {
    font-size: 13px;
}
.signup-btn {
    text-align: center;
    border-color: #3f73dc;
transition: all 0.4s;
background-color: #3f73dc;
}
.signup-btn:hover {
background: #45d160;
border-color: #45d160;
    opacity: 0.8;
}
.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}
.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 30px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 38px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
}
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover {
    opacity: 0.8;
}
.social-btn .btn-primary {
    background: #555555;
}
.social-btn .btn-info {
    background: #64ccf1;
}
.social-btn .btn-danger {
    background: #df4930;
}
.social-btn .btn i {
    font-size: 20px;
}




/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .signin-form form {
        border-radius: 5px;
        margin-bottom: 20px;
        background: #fff;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 40px;
    }
    
    body {
        background: white;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .signin-form form {
        border-radius: 5px;
        margin-bottom: 20px;
        background: #fff;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 40px;
    }
    
    body {
        background: white;
    }
    
  }