@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Franklin|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  font-family: 'Lato', sans-serif;
}

.header-image {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("https://source.unsplash.com/featured/?nature,mountain,wildlife,old-architecture,taj-mahal");

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.get-started-title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
}

.get-started-subtitle {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.logo{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.navbar-item{
    font-family: 'Libre Franklin', sans-serif;
}

.title{
    font-size: 30px;
}

.title, .subtitle{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

p{
    font-family: 'Lato', sans-serif;
}

.entry-title{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    letter-spacing: 1.3px;
}

.my-top-bar{
    margin-bottom: 50px;
}

#add_textarea{
    font-size: 18px;
}

.footer {
    flex-shrink: 0;
    padding: 20px;
    background-color: #dfdfdf;
}

.section{
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.about-text {
    font-size: 35px;
}

.readmore-page {
    font-size: 20px;
}

.readmore-div{
    background-color: transparent;
    color: #363636;
}

.readmore-div:hover { 
    background-color: #cfecff; 
}

.readmore-close{
    background-color: transparent;
}

.div-fix {
    flex-shrink: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-top: 11px;
    background-color: white;
}

blockquote {
font-size: 20px;
font-family: Raleway;
line-height: 1.65em;
font-weight: 300;
padding: 30px 30px 30px 50px;
border-top: 5px solid #eaeaea;
background: #eaeaea no-repeat 20px 25px;
}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* .readmore-page {
      font-size: 20px;
      margin: 0px 20px 0px 20px;
    } */
    
    .edit-title{
        margin-bottom: 20px;
        width: 50%;
        border-radius: 0px;
      }
   
    .title-input {
        margin-bottom: 0px;
        border-radius: 0px;
        width: 50%;
        background-color: rgb(75, 156, 238);
        border-color: #ffffff;
        color: #ffffff;
      }

      .textarea {
        min-width: 0%;
      
      }
      .input, .textarea {
        width: 50%;
      }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

   /*  .readmore-page {
        font-size: 20px;
        margin: 0px 20px 0px 20px;
    } */

    .edit-title{
        margin-bottom: 20px;
        width: 50%;
        border-radius: 0px;
      }

    .title-input {
        margin-bottom: 0px;
        border-radius: 0px;
        width: 50%;
        background-color: rgb(75, 156, 238);
        border-color: #ffffff;
        color: #ffffff;
      }

      .textarea {
        min-width: 0%;
      
      }
      .input, .textarea {
        width: 50%;
      }    
  }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }

  /* Placeholder */

  .title-input::placeholder {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    opacity: 1; /* Firefox */
  }
  
  .title-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
   font-family: 'Libre Franklin', sans-serif;
  }
  
  .title-input::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
   font-family: 'Libre Franklin', sans-serif;
  }

  /* Title input css */

  .title-input {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: rgb(75, 156, 238);
    border-color: #ffffff;
    color: #ffffff;
  }

.edit-title{
    margin-bottom: 20px;
    border-radius: 0px;
  }

  .label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
}

.page-list {
  margin-top: 20px;
}
  

/* .media-content:hover .media-right{
  visibility: visible;
}

.media-right {
  visibility: hidden;
} */
