<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sent password reset link - Daily Bytes</title>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Franklin|Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
{% load static %}
<link rel="stylesheet" href="{% static '/css/auth.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147095017-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-147095017-1');
    </script>
</head>
<body>
<div class="signin-form">

	<form>

        <h2>Daily Bytes</h2>
        
        <div class="text-center medium" style="margin-top: 25px; font-size: 16px;">We've sent you an email with the password reset link. Kindly check your inbox.</div>
        
    </form>
    
</div>
</body>
</html>