<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My profile - Daily Bytes</title>
</head>

<body>
    {% extends "diary_app/base.html" %}
    {% block content %}
    {% load static %}

    <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {% if current_user.first_name %}
                            {{ current_user.first_name }}'s profile
                        {% elif current_user.username %}
                            {{ current_user.username}}'s profile
                        {% endif %}
                    </h1>
                </div>
            </div>
    </section>

    <section class="section">
    <div class="container">

        <form method="POST" enctype="multipart/form-data">
            <!-- enctype attribute is mandatory to make sure our form takes images -->
        {% csrf_token %}
                    
            <div class="field">
                <div class="control">
                    
                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Username</h6>
                    <input type="text" name="username" maxlength=50 class="input is-medium edit-title" value="{{current_user.username}}" required id="id_username">

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Email</h6>
                    <input type="email" name="email" class="input is-medium edit-title" value="{{current_user.email}}" id="id_email" disabled>

                    {% if request.user.has_usable_password is True %}
                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Current password</h6>
                    <input type="password" name="old_password" class="input is-medium edit-title" id="id_password1">

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">New password</h6>
                    <input type="password" name="new_password1" class="input is-medium edit-title" id="id_password1">

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Confirm password</h6>
                    <input type="password" name="new_password2" class="input is-medium edit-title"  id="id_password2">
                    {% endif %}

                    {% if request.user.has_usable_password is False %}
                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Set a password</h6>
                    <input type="password" name="password1" class="input is-medium edit-title" id="id_password1">

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Confirm password</h6>
                    <input type="password" name="password2" class="input is-medium edit-title"  id="id_password2">
                    {% endif %}

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">First name</h6>
                    <input type="text" name="first_name" maxlength="50" class="input is-medium edit-title" value="{{current_user.first_name}}" required id="id_title">

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Last name</h6>
                    <input type="text" name="last_name" maxlength="50" class="input is-medium edit-title" value="{{current_user.last_name}}" required id="id_title">

                    <h6 class="subtitle is-6" style="margin-bottom: 10px;">Bio</h6>
                    <textarea type="text" name="bio" id="id_bio" class="textarea">{{get_bio.bio}}</textarea>

                </div>
            </div>

        <div class="buttons is-right">

            <button class="button is-success is-outlined" type="submit"><img src="{% static '/images/save.svg' %}" alt="Save" width=15px height=15px style="margin-right: 10px;">Save profile</button>
            
        </div>
        </form>

        </div>
    </section>
    {% endblock %}
</body>
</html>
