<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sign up - Daily Bytes</title>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Franklin|Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
{% load static %}
<link rel="stylesheet" href="{% static '/css/auth.css' %}">
</head>
<body>
<div class="signin-form">
    <form method="POST">
        {% csrf_token %}
		<h2>Daily Bytes</h2>
        <p class="hint-text">Sign up with</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg" title="GitHub"><i class="fa fa-github"></i></a>
			<a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
			<a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
		</div>
        <div class="or-seperator"><b>or</b></div>
        
        <div class="form-group">
            <input type="email" class="form-control input-lg" name="email" placeholder="Email" required="required">
        </div>
        <!-- <div class="form-group">
            <input type="text" class="form-control input-lg" name="first_name" placeholder="First Name" required="required">
        </div>
        <div class="form-group">
                <input type="text" class="form-control input-lg" name="last_name" placeholder="Last Name" required="required">
        </div> -->
        <div class="form-group">
        	<input type="text" class="form-control input-lg" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="password1" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" name="password2" placeholder="Confirm password" required="required">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign up</button>
        </div>
        <div class="text-center small">Have an account? <a href="/signin/">Sign in</a></div>
    </form>
</div>
</body>
</html>
